      <form #heroForm="ngForm" (ngSubmit)="onSubmit($event)">
        <tr>
            <td class="gpname">
                <input class="form-control ng-invalid " type="text" name="ProgramName" #name="ngModel"  [(ngModel)]="grantProgram.ProgramName"  required/>
                 <p [hidden]="name.valid || name.pristine || name.touched">Hellfsd</p>
            </td>
            <td class="pgcode">
                <input class="form-control ng-invalid" type="text" name="ProgramCode" [(ngModel)]="grantProgram.ProgramCode" required/>
            </td>
            <td class="startdate">
                <input class="form-control ng-invalid" type="date"  name="StartDate" [(ngModel)]="grantProgram.StartDate " required />
            </td>
            <td class="enddate">
                <input class="form-control ng-invalid" type="date"   name="EndDate" [(ngModel)]="grantProgram.EndDate"  required/>
             
                <p *ngIf="error.isError" color="red">{{error.errorMessage}}</p>
            </td>,
            <td class="add-active">
                    <input type="checkbox" class="form-control status"  name="Status"  [(ngModel)]="grantProgram.Status"  >Active
            </td>
            <td class="add-button">
                <button class="btn btn-adddefault" type="submit" [disabled]="!heroForm.form.valid" ><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </td>
        </tr> 

      </form>
    
